/* Tablets */

@media (max-width:768px) {
    #showcase {
        max-width: 100%;
    }
    .showcase__topbar-logo h1 {
        font-size: 3rem;
    }
    .showcase__social i {
        padding: .3rem;
        margin-left: 1.5rem;
        line-height: 1.3;
    }
    .showcase__content h1 {
        font-size: 2.3rem;
    }
    .showcase__content h2 {
        font-size: 2.1rem;
    }
}

@media (max-width:600px) {
    #showcase {
        max-width: 100%;
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/showcase_mobile.jpg');
    }
    .showcase__topbar {
        height: 4rem;
        background-color: var(--dark-color);
        opacity: .9;
    }
    .showcase__topbar-logo h1 {
        font-size: 2rem;
    }
    .showcase__social i {
        padding: .2rem;
        margin-left: 1rem;
    }
    .showcase__content h1 {
        font-size: 1.8rem;
    }
    .showcase__content h2 {
        font-size: 1.5rem;
    }
}


/* Mobile */

@media (max-width:425px) {
    #showcase {
        max-width: 100%;
    }
    .showcase__content {
        height: 40rem;
    }
    .showcase__topbar {
        height: 7rem;
        flex-direction: column;
    }
    .showcase__topbar-logo h1 {
        font-size: 1.8rem;
        letter-spacing: .1rem;
        word-spacing: .1rem;
        padding: .5rem;
    }
    .showcase__social i {
        margin-left: 1rem;
    }
    .showcase__content h1 {
        font-size: 1.3rem;
    }
    .bottom-line {
        height: .15rem;
        background-color: var(--orange);
    }
    .showcase__content h2 {
        font-size: 1.2rem;
        color: var(--orange);
    }
}

@media (max-width:375px) {
    #showcase {
        max-width: 100%;
    }
    .showcase__social i {
        margin-left: 1rem;
    }
    .showcase__content {
        height: 80%;
    }
    .showcase__content h1 {
        font-size: 1.5rem;
    }
    .showcase__content h2 {
        font-size: 1.3rem;
    }
}

@media (max-width:300px) {
    #showcase {
        max-width: 100%;
    }
    .showcase__topbar {
        height: 6rem;
    }
    .showcase__topbar-logo h1 {
        font-size: 1.4rem;
    }
    .showcase__content {
        height: 80%;
    }
    .showcase__content h1 {
        font-size: 1.3rem;
    }
    .showcase__content h2 {
        font-size: 1.1rem;
    }
}


/* Landscape  */

@media (max-height:360px) {
    #showcase {
        max-width: 100%;
    }
    .showcase__topbar-logo h1 {
        font-size: 2.5rem;
    }
    .showcase__social i {
        margin-left: 1rem;
    }
    .showcase__content h1 {
        font-size: 1.8rem;
    }
    .showcase__content h2 {
        font-size: 1.5rem;
    }
}